<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta_title | default: "CIO JS SDK" }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <header class="container">
        {% include 'partials/nav' %}
      </header>
      <main class="">
        <h1 class="py-5 font-semibold text-4xl sm:text-5xl">{{ title }}</h1>
        {{ content }}
      </main>
      <footer></footer>
    </div>
    {% include 'partials/cio-snippet' %}
  </body>
</html>