---
  permalink: /cdp/
  meta_title: Customer.io Data Pipeline
  title: The Customer.io Data Pipeline
  link_title: CDP
  navIndex: 5
---
<section class="my-5 py-4 px-4 sm:px-6">
  <h2 id="in-app-requirements" class="pb-5 text-3xl sm:text-4xl font-semibold leading-7 text-gray-900">Using the CDP</h2>
  <p class="mb-4 max-w-4xl">
    <em>To be continued...</em>
  </p>
</section>