---
  permalink: /in-app/
  meta_title: in-app
  title: In-App Messages and the Web SDK
  link_title: In-App
  navIndex: 4
---
<section class="my-5 py-4 px-4 sm:px-6">
  <h2 id="in-app-requirements" class="pb-5 text-3xl sm:text-4xl font-semibold leading-7 text-gray-900">What are the Requirements for Sending In-App Messaging?</h2>
  <p class="mb-4 max-w-4xl">
    Let's make sure you check all of the boxes.
  </p>
  <ul class="mb-4 max-w-4xl pl-4 list-disc">
    <li>Are you using our Web SDK?</li>
    <li>Is the Web SDK snippet being initialized on every webpage you want to send messages to?</li>
    <li>Are you sending any
      <code class="text-red-500 font-mono text-sm">identify</code>
      calls via the Web SDK?</li>
    <li>Are you tracking page views with the Web SDK?</li>
  </ul>
  <p class="mb-4 max-w-4xl">
    If you've already
    <a href="/configuration/" class="text-teal-600 hover:text-teal-900 font-bold">connected this website to your workspace</a>, and have
    <a href="/identify/#identify" class="text-teal-600 hover:text-teal-900 font-bold">identified yourself</a>, then we have you covered on the Web SDK side and you can move on to the following section to test your In-App Messages! 🎉
  </p>
</section>
<section class="my-5 py-4 px-4 sm:px-6">
  <h2 id="in-app-requirements" class="pb-5 text-3xl sm:text-4xl font-semibold leading-7 text-gray-900">Learning by Example</h2>
  <p class="mb-4 max-w-4xl">
    <em>To be continued...</em>
    😊
  </p>
</section>