---
  permalink: /
  meta_title: home
  title: Using the JavaScript (Web) SDK
  link_title: Home
  navIndex: 0
---

<section class="px-4 sm:px-6">
  <h2 class="my-5 text-3xl sm:text-4xl font-semibold leading-7 text-gray-900">Suggested Learning Path</h2>
  <p class="max-w-4xl">To start out, you should go to
    <a href="/configuration" class="text-teal-600 hover:text-teal-900 font-bold">the configuration page</a>
    to set your Site ID and select your Region.</p>
  <p class="my-4 max-w-4xl">After you've configured the tracking snippet, refresh this page and you should see events starting to send to your workspace (Tada! ✨).
    You might not be "tracked" yet, so if you're not seeing page view events from
    <span id="show-url">this website</span>
    you should try checking the "Anonymous" tab on your Workspace's "Activity Log" Page.
  </p>
  <blockquote id="show-identifier" class="bg-slate-100 rounded-md shadow mt-1 w-fit"></blockquote>
  <p class="my-4 max-w-4xl">
    Next, you should dive into
    <a href="/events" class="text-teal-600 hover:text-teal-900 font-bold">events</a>
    (since these can be sent before identifying a profile). Then, how
    <a href="/identify" class="text-teal-600 hover:text-teal-900 font-bold">identifying a profile</a>
    works. After identifying yourself and sending page view events, then you can dig into
    <a href="/in-app" class="text-teal-600 hover:text-teal-900 font-bold">receiving In-App Messages</a>.
  </p>
</section>
<section class="px-4 sm:px-6">
  <h2 class="my-5 text-3xl sm:text-4xl font-semibold leading-7 text-gray-900">Resources</h2>
  <ul class="max-w-4xl pl-4">
    <li class="list-disc mb-2">
      <a href="https://customer.io/docs/sdk/web/getting-started/" class="text-teal-600 hover:text-teal-900 font-bold">Web SDK docs</a>
    </li>
  </ul>
</section>

<script>
  window.addEventListener("load", () => {
    let identifier = window._cio._findCustomer();
    let anonymousIdentifier = getCookie(window._cio.cookieNamespace + 'anonid');
    document.getElementById("show-url").innerHTML = `<em class="text-purple-500">${
      window.location.href
    }</em>`;
    if (identifier) {
      document.getElementById("show-identifier").innerHTML = `<div class="p-2">Your Identifier is: <em class="text-purple-500">${identifier}</em></div>`
    } else if (anonymousIdentifier) {
      document.getElementById("show-identifier").innerHTML = `<div class="p-2">Your Anonymous ID: <em class="text-purple-500">${anonymousIdentifier}</em></div>`;
    }
  })

  function getCookie(c_name) {
    var allCookies = document.cookie;
    if (allCookies.length > 0) {
      var c_start = allCookies.indexOf(c_name + '=');
      if (c_start != -1) {
        c_start = c_start + c_name.length + 1;
        var c_end = allCookies.indexOf(';', c_start);
        if (c_end == -1) 
          c_end = allCookies.length;
        



        return decodeURIComponent(allCookies.substring(c_start, c_end));
      }
    }
    return '';
  }
</script>