<script type="text/javascript">
  var CIO_LOCALSTORAGE_NAMESPACE = "TSE_CIO_SDK_CONFIG"
  var CIO_DEFAULTS = {
    siteID: "YOUR_SITE_ID",
    region: "us"
  }
  function getCioConfig(){
    let siteID, 
        region, 
        storedState = JSON.parse(window.localStorage.getItem(CIO_LOCALSTORAGE_NAMESPACE));
    if (storedState) {
      siteID = storedState.siteID;
      region = storedState.region;
    }
    let cioConfig;
    if (siteID && region) {
      cioConfig = {siteID,region}
    } else {
      cioConfig = CIO_DEFAULTS;
    }
    return cioConfig
  }

  function setCioConfig({siteID,region}) {
    window.localStorage.setItem(CIO_LOCALSTORAGE_NAMESPACE,JSON.stringify({siteID,region}));
  }

  function updateCioConfig({siteID,region}){
    let {siteID:previousSiteId,region:previousRegion} = getCioConfig();
    if (!previousSiteId && previousRegion) {
      setCioConfig({siteID,region});
    } else if (siteID != previousSiteId || region != previousRegion) {
      setCioConfig({siteID,region});
    } else console.log("Same values provided, No changes made to CIO config")
    console.log({siteID,region})
  }

  var TSE_CIO_CONFIG = getCioConfig()
</script>
<script type="text/javascript">
  var _cio = _cio || [];
  (function() {
      var a,b,c;a=function(f){return function(){_cio.push([f].
      concat(Array.prototype.slice.call(arguments,0)))}};b=["load","identify",
      "sidentify","track","page","on","off"];for(c=0;c<b.length;c++){_cio[b[c]]=a(b[c])};
      var t = document.createElement('script'),
          s = document.getElementsByTagName('script')[0];
      t.async = true;
      t.id    = 'cio-tracker';
      t.setAttribute('data-site-id', TSE_CIO_CONFIG.siteID );
      t.setAttribute('data-use-array-params', 'true');
      t.setAttribute('data-auto-track-page', 'true');
      t.setAttribute('data-use-in-app', 'true');
      if (`${TSE_CIO_CONFIG.region}`.toLowerCase() == "us") {
        t.src = 'https://assets.customer.io/assets/track.js';
      } else {
        //account is in the EU, use:
        t.src = 'https://assets.customer.io/assets/track-eu.js'
      }
      s.parentNode.insertBefore(t, s);
  })();
</script>