<div class="show-id">
  <blockquote class="current-identifier bg-slate-100 rounded-md shadow mt-1 w-fit"></blockquote>
  <button class="hidden reset-current-identifier rounded-md my-2 py-2 px-4 bg-red-600 text-slate-100 font-semibold">Reset Identifier</button>
</div>